<div>
  <h2>Nuevo Objeto:</h2>
  <form action="/object/add" method="post">
    <div>
      <label for="Name">Nombre</label>
      <input type="text" name="Name" id="Name" required>
    </div>
    <div>
      <label for="API_Name">Nombre API</label>
      <input type="text" name="API_Name" id="API_Name" required>
    </div>
    <div>
      <button>Crear Objeto</button>
    </div>
  </form>
</div>