<h1>Records for: {{ object.name }}</h1>
{{#if fields}}
  <table>
    <thead>
      <tr>
        {{#each fields}}
          <th>{{name}}</th>
        {{/each}}
      </tr>
    </thead>
    <tbody>
      {{#each records}}      
        <tr>        
          {{#each values}}
            <td>{{value}}</td>
          {{/each}}
        </tr>        
      {{/each}}
    </tbody>
  </table>  
{{else}}
  <h2>No Fields</h2>
{{/if}}
