<div></div>
  <h2>Nuevo Field:</h2>
  <form action="/object/add" method="post">
    <div>
      <label for="Name">Nombre</label>
      <input type="text" name="Name" id="Name" required>
    </div>
    <div>
      <label for="API_Name">Nombre API</label>
      <input type="text" name="API_Name" id="API_Name" required>
    </div>
    <div>
      <label for="type">Type</label>
      <input type="text" name="type" id="type" required>
    </div>
    <div>
      <label for="isRequired">¿Requerido?</label>
      <input type="text" name="isRequired" id="isRequired" required>
    </div>
    <div>
      <button>Crear Objeto</button>
    </div>
  </form>
</div>